body {
    background-image: url("/assets/backGround.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    min-height: 100vh;
    background-color: rgb(151, 176, 185);
    font-family: Arial, sans-serif; /* Added font family for consistency */
    margin: 0;
    padding: 0;
}

.navbar {
    padding:10px;
    height: 62px;
    background-color: rgb(116, 169, 188);
    border: none;
    box-shadow: none;
    position: absolute;
    width: 100%;
    z-index: 2; 
}

#title {
    font: 3em Arial;
    margin-left: 40px;
    position: relative; /* Make the name element a positioned context for z-index */
    z-index: 1
}

.navbar .navbar-toggle {
    margin: 10px 0; /* Adjust as needed */
}

.navbar .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand {
    padding: 0;
}

.navbar .navbar-brand img {
    width: auto;
    height: 70px;
    margin-top: -10px;
}

@media (max-width: 768px) {
    #search-bar {
        min-width: 435px;
    }

    .navbar {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
    }

    .navbar-brand {
        display: flex;
        flex-direction: column;
    }

    .navbar-brand span {
        margin-top: -35px;
    }

    .logo {
        width: 25%;
        min-width: 45px;
    }
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 70px);
}

#info-container {
    background-color: #cea1a1;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.hero-name {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.hero-img-and-more-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.hero-img {
    max-width: 200px;
    height: auto;
    border: 5px solid #ffffff;
    border-radius: 10px;
}

.more-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.more-info .flex-row {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.more-info b {
    font-weight: bold;
    margin-right: 10px;
}

.hero-description {
    margin-top: 20px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.4;
}

.fav-toast, .remove-toast {
    display: none;
    background-color: rgba(0, 128, 0, 0.9);
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.add-to-fav-btn {
    background-color: #ff5722;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
