body {
    background-image: url("/assets/backGround.png");
    background-size: 70%; 
    background-repeat: no-repeat;
    background-position: center bottom ;
    background-attachment: fixed;
    min-height: 100vh;
    background-color: rgb(116, 198, 235);
}

.navbar {
    padding: 10px;
    height: 62px;
    background-color: rgb(52, 175, 231);
    border: none;
    box-shadow: none;
    position: absolute;
    width: 100%;
}
#title{
    font: 3em Arial;
    margin-left: 40px;
}
.navbar .navbar-toggle {
    margin: 10px 0; /* Adjust as needed */
}

.navbar .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand {
    padding: 0;
}

.navbar .navbar-brand img {
    width: auto;
    height: 70px;
    margin-top: -10px;
}

div.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60vh);
    margin-bottom: -80px;
}

div.input-group {
    padding-bottom: 0%;
    max-width: 60vw;
    border-radius: 5px;
}

input.form-control.search-input {
    height: 45px;
    border: none;
    width: 40vw;
    border-radius: 5px;
    padding-left: 15px;
    cursor: text;
    caret-color: rgb(31, 27, 27);
}

div.input-group-addon {
    background-color: rgb(213, 227, 233);
    border: none;   
    cursor: pointer;
}

i.fas.fa-search {
    color: #2a8fb4;
    font-size: 20px;

}

@media (max-width: 768px) {
    #search-bar {
        min-width: 435px;
   }

   .navbar {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
        /* height: 30%; */
   }

   .navbar-brand {
        display: flex;
        flex-direction: column;

   }

   .navbar-brand span {
        margin-top: -35px;
   }

   .logo {
        width: 25%;
        min-width: 45px;
   }

}

div a{
    color: black;
    font: 1.7em Arial;
}


#search-results {
    display: flex;
    flex-wrap: wrap; /* Allow multiple results in a row */
    justify-content: center; /* Center horizontally */
    list-style: none;
    padding: 0;
    margin-left: 25vw;
    text-align: center;
    align-items: center; /* Make sure each row has equal height */
    width: 50vw;
}

.single-search-result {
    flex: 0 1 calc(50% - 20px); /* Each card takes up 50% of the container width with some spacing */
    margin: 10px; /* Add spacing between the cards */
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color:rgb(26, 140, 181)
}

/* Adjust other styles as needed */


.flex-row .single-search-result img {
    width: 20vw;
    height: auto;
    margin-right: 10px;
}

.hero-info {
    flex: 1;
    padding: 10px;
}

.hero-name {
    font-weight: bold;
    font-size: 18px;
}


.single-search-result:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Style for the "Add to Favorite" button */
.add-to-favorite {
    background-color: #ca26ba;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    border-radius: 50px;
}

.add-to-favorite:hover {
    background-color: #b300a4;
}


/* Define a class for the "Add to Favorite" button when in favorites */
.add-to-favorite.added {
    background-color: rgb(236, 73, 73); 
    color: #fff; 

}

